.image-gallery {
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  margin: 0 auto;
  max-width: 95%;
  min-width: 320px;
  overflow: hidden;
  box-shadow: 3px 3px 3px 3px grey;
}
.image-gallery section {
  display: none;
  margin-left: 20px;
  width: 100%;
}
.image-gallery section img{
height: auto;
  max-width: 70%;
}
.image-gallery label {
  border: 1px solid #3194ee;
  /* margin: 0 0 10px; */
  padding: 5px;
  text-align: center;
  width: 10%;
  overflow: hidden;
}
.image-gallery label:hover {
cursor: pointer;
}
.image-gallery label img {
  height: auto;
  width: 100%;
}
.image-gallery input:checked + label {
  border: 1px solid #004481;
  padding: 5px;
}
.image-gallery input:checked + label {
  border: 1px solid #004481;
  padding: 5px;
}
.image-gallery #tab1:checked ~ #content1,
.image-gallery #tab2:checked ~ #content2,
.image-gallery #tab3:checked ~ #content3 {
  box-shadow: 3px 3px 3px 3px rgb(215, 51, 51);
  display: block;
}
.finali{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin-bottom: 2rem;
  gap: 1.5%;

}
@media screen and (max-width:562px) and (min-width:457px){
  
  .finali{
    grid-template-columns: 90%;
  }
  
  .image-gallery{
    height: 55vh;
  }
}
@media screen and (max-width:456px) {
  
  .finali{
    grid-template-columns: 90%;
  }
  
  
  .image-gallery{
    height: 45vh;
  }
}

